.side-bar {
    padding: 30px 0;
    padding-left: 25px;
    background-color: var(--blue900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.importantBar, .todayBar, .thisWeekBar, .completedBar, .newProjectBar, .projectBar, .allTodosBar{
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 8px;    

    cursor: pointer;
}

.importantBar svg, .todayBar svg, .thisWeekBar svg, .completedBar svg, .newProjectBar svg, .projectBar svg, .allTodosBar svg {
    width: 30px;
}

.new-project-bar input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100px;
    padding: 3px;
    font-size: 1rem;
    border-radius: 5px;
}

.new-project-bar button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 0.85rem;
    background-color: var(--wine);
    color: #ffffff;
    cursor: pointer;
}

#active {
    background-color: var(--wine);
    color: #ffffff;
    width: calc(100% - 50px);
}

@media (min-width: 900px) {
    .side-bar {
        width: 450px;
        height: 100vh;
        justify-content: flex-start;
    }
  }