/* @font-face {
    font-family: 'TiltNeon';
    src: url('../assets/TiltNeon-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  } */
  
* {
  --blue900: #100032;
  --yellow: #FEEFB4;
  --blue200: #98CBE6;
  --wine: #770F3D;
  --white: #FFFF;

  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
body {
  font-family: 'TiltNeon';
  line-height: 1.6;
  background-color: var(--blue900);
  color: var(--white);
  -webkit-font-smoothing: 'antialiased';
}

/* .content {
  display: flex;
} */

.main {
  color: var(--blue900);
  padding-inline-start: 0;
  width: 270px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto;
  padding-bottom: 80px;
  margin: 30px auto 0 auto;
}

.main div {
  padding: 15px;
  background-color: var(--blue200);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.main div h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

.main div h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.main div p {
  font-size: 1rem;
}

.main div button {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  margin: 0;
  width: 92%;
  border-radius: 3px;
  transition:0.3s;
  padding: 8px;
  font-size: 1.5rem;
}

.main div button:hover {
  background-color: var(--yellow);
}

  @media (min-width: 600px) {
    .main {
      padding-inline-start: 0;
      margin: 60px auto 0 auto;
      width: 540px;
      display: grid;
      grid-gap: 40px;
      grid-template-columns: 250px 250px;
      padding-bottom: 80px;
    }
  }
  
  @media (min-width: 1100px) {
    .main {
      padding-inline-start: 0;
      margin: 70px auto 0 auto;
      width: 960px;
      display: grid;
      grid-gap: 60px;
      grid-template-columns: 280px 280px 280px;
      padding-bottom: 80px;
    }
  }